<% provide(:title, "撮影者情報") %>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<div class="content-wrapper">
  <div class="background-image">
    <div class="background-position">
      <div class="avatar-position">
        <% if @users.image? %>
          <%= image_tag @users.image.url, class: "image-setting" %>
        <% else %>
          <%= image_tag "profile.jpg", :class=>"image-setting" %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  <div class="divided-line"></div>
    <div class="profile-wrapper">
      <div class="title-position">
        <h1 class="profile-bigtitle">撮影者様情報</h1>
      </div>
      <table>
        <tbody>
          <tr>
            <th class="profile-title">お客様ID</th>
            <td class="profile-content"><%= @users.id %></td>
          </tr>
          <tr>
            <th class="profile-title">お名前</th>
            <td class="profile-content"><%= @users.name %></th>
          </tr>
          <tr>
            <th class="profile-title">生年月日</th>
            <td class="profile-content"><%= @users.birth_date %></td>
          </tr>
          <tr>
            <th class="profile-title">住所</th>
            <td class="profile-content"><%= @users.address %></td>
          </tr>
          <tr>
            <th class="profile-title">電話番号</th>
            <td class="profile-content"><%= @users.telephone %></td>
          </tr>
          <tr>
            <th class="profile-title">メールアドレス</th>
            <td class="profile-content"><%= @users.email %></td>
          </tr>
          <tr>
            <th class="profile-title">最終更新日</th>
            <td class="profile-content"><%= @users.updated_at.to_i %></td>
          </tr>       
        </tbody>
      </table>
    </div>
    <div class="account-edit">
      <%= link_to "お客様情報の変更", edit_user_path(@users.id) %>
    </div>
    <div class="account-edit">
    <%= link_to "アカウントの削除", "/users/#{@users.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </div>
  </div>
</div>
