<% provide(:title, "スケジュール編集") %>
<div class = "new-schedule">
  <%= form_with model: @schedule, method: :patch, local: true do |f| %>
    <div class = "profile-image">
    　　<%= f.label :place_image %>
    　　<%= f.file_field :place_image, class: 'image-form-control', id: 'place-image-id' %>
  　</div>
    <div class = "form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'schedule-id' %>
    </div>
    <%= f.select :place, [["エリア選択", "エリア選択"], ["自由が丘エリア", "自由が丘エリア"], ["湘南エリア", "湘南エリア"], ["汐留エリア", "汐留エリア"], ["赤坂エリア", "赤坂エリア"]] %>
  　<div class = "form-group">
  　　<%= f.label :start_time %>
  　　<%= f.date_field :start_time, class: 'form-control', id: 'schedule-date-id' %>
　　</div>
    <div class = "form-group">
      <%= f.label :explain %>
      <%= f.text_area :explain, class: 'formarea-control', id: 'explain-id' %>
    </div>
      <%= f.collection_select :model_id, Model.all, :id, :girl_name, include_blank: "選択してください" %>
      <%= f.collection_select :model_id, Model.all, :id, :girl_name, include_blank: "選択してください" %>
      <%= f.collection_select :model_id, Model.all, :id, :girl_name, include_blank: "選択してください" %>
      <%= f.collection_select :model_id, Model.all, :id, :girl_name, include_blank: "選択してください" %>
      <%= f.collection_select :model_id, Model.all, :id, :girl_name, include_blank: "選択してください" %>
      <%= f.hidden_field :model_id, value: @model.ids %>
    <%= f.submit "スケジュール更新", class: "btn btn-primary" %>
  <% end %>
</div>