<% provide(:title, "スケジュール作成") %>
<div class = "new-schedule">
  <%= form_with model: @schedule, url: schedules_path, local: true do |f| %>
    <div class = "profile-image">
    　　<%= f.label :place_image %>
    　　<%= f.file_field :place_image, class: 'image-form-control', id: 'place-image-id' %>
  　</div>
    <div class = "form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'schedule-id' %>
    </div>
    <%= f.select :place, [["エリア選択", "エリア選択"], ["自由が丘エリア", "自由が丘エリア"], ["湘南エリア", "湘南エリア"], ["汐留エリア", "汐留エリア"], ["赤坂エリア", "赤坂エリア"]] %>

    <div class = "form-group">
      <%= f.label :start_time %>
      <div class = "schedule-time-wrapper" >
        <%= f.datetime_select :start_time, class: 'form-control', class: 'schedule-time' %>
      </div>
　　</div>
    <div class = "form-group">
      <%= f.label :explain %>
      <%= f.text_area :explain, class: 'formarea-control', id: 'explain-id' %>
    </div>
    <%= f.collection_select :model_ids, Model.all, :id, :girl_name, { include_blank: "選択してください", multiple: true } %>
    <%= f.collection_select :model_ids, Model.all, :id, :girl_name, { include_blank: "選択してください", multiple: true } %>
    <%= f.collection_select :model_ids, Model.all, :id, :girl_name, { include_blank: "選択してください", multiple: true } %>
    <%= f.collection_select :model_ids, Model.all, :id, :girl_name, { include_blank: "選択してください", multiple: true } %>
    <%= f.collection_select :model_ids, Model.all, :id, :girl_name, { include_blank: "選択してください", multiple: true } %>
    <%= f.submit "スケジュール作成", class: "btn btn-primary" %>
    <% end %>
</div>