<header class="navbar navbar-fixed-top id: 'header-wrapper">
  <div class="container header-wrapper">
    <%= link_to(image_tag("scenes.png", :alt => "scenes-logo"), root_url, id: 'logo') %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'SCENES撮影会とは？', about_path %></li>
          <% if sign_in? %>
<!-- 折り畳み -->
<!-- ユーザー名表示 -->
          <p class="name-position signin-name">
            <% if current_user %>
              <%= current_user.name %>
            <% end %>
<!-- 画像表示 -->
            <div class="image-position">
              <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
                <a style="cursor:pointer;" class="menu-click">
                  <% if current_user.image? %>
  　                <%= image_tag current_user.image.url, :class=>"profile-image", :alt=>"profile-image" %>
                  <% else %>
                    <%= image_tag "profile.jpg", :size=> '15*15', :class=>"profile-image", :alt=>"profile-image" %>
                  <% end %>
                </a> 
              </div>
            </div>
<!--// 折り畳み -->    
<!-- 折り畳まれ部分 --> <%# 　クリックで展開 %>
            <div id="open" style="display:none;clear:both;">
              <ul>
                <li class="user-icon-list"><%= link_to "ユーザー情報一覧", user_path(current_user.id) %></li>
                <li class="user-icon-list"><%= link_to "撮影会予約", "#x" %></li>
                <li class="user-icon-list"><%= link_to "予約済み一覧", "#x" %></li>
                <li class="user-icon-list"><%= link_to "ユーザー情報編集", "#x" %></li>
                <li class="user-icon-list"><%= link_to "ログアウト", signout_path, method: :delete %></li>
              </ul>
            </div>
          <% else %>
            <div class="signin">
              <%= link_to "サインイン", signin_path, class: 'post' %>
              <%= link_to "新規登録する", signup_path, class: 'post' %>
            </div>
          <% end %>
        </div>
      </ul>
    </nav>
  </div>
</header>
