<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/stylesheet' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="body-wrapper">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/js_file' %>
  </body>
</html>
